* {
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  padding: 0;
  background: #060608;
  color: white;
  transition: 0.2s linear;
}

#cursor,
#frontend {
  color: #e11d74;
}

h1 {
  font-family: "poppins";
}

h3 {
  font-family: "courier";
}

/* Dark / light Theme */

.label {
  background: #e11d74;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 5px;
  height: 26px;
  width: 54px;
  border-radius: 50px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.m,
.s {
  height: 20px;
}

.ball {
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background: white;
  position: absolute;
  left: 2px;
  top: 2px;
  transition: 0.5s;
}

.toggler {
  position: absolute;
  opacity: 0;
}

.toggler:checked + .label .ball {
  transform: translateX(28px);
}

body.dark {
  background: white;
  color: black;
}

.cc {
  margin: 0 40px 0 40px;
  box-sizing: border-box;
  padding: 10px;
  text-align: justify;
}

/* FOOTER */

.main-btn {
  /*   background: #6985c4; */
  background: #e11d74;
  color: black;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: fixed;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  bottom: 10px;
  right: 10px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  z-index: 10;
  transition: 1s;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.fa {
  font-size: 36px;
  color: black;
  text-shadow: 0 0 20px white, 0 0 40px white;
}

.sub-btns {
  height: 60px;
  width: 60px;
  position: fixed;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  bottom: 10px;
  right: 10px;
}

.sub-btns > div {
  /*   background: #6985c4;   */
  box-sizing: border-box;
  background: #e11d74;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: relative;
  transition: 1s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn2 {
  bottom: 60px;
}

.btn3 {
  bottom: 120px;
}

.btn4 {
  bottom: 180px;
}

/* Responsive  */

@media (max-width: 640px) {
  .cc {
    margin: 10px;
  }

  .pratham {
    font-size: 24px;
    text-align: left;
  }
}
