* {
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  padding: 0;
  background: #060608;
  color: white;
  transition: 0.2s linear;
}

#cursor,
#frontend {
  color: #e11d74;
}

h1 {
  font-family: "poppins";
}

h3 {
  font-family: "courier";
}

/* Dark / light Theme */

.label {
  background: #e11d74;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 5px;
  height: 26px;
  width: 54px;
  border-radius: 50px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.sun-moon {
  height: 24px;
}

.ball {
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background: white;
  position: absolute;
  left: 2px;
  top: 2px;
  transition: 0.5s;
}

.toggler {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
}

.toggler:checked + .label .ball {
  transform: translateX(28px);
}

body.dark {
  background: white;
  color: black;
}

.wrapper {
  margin: 10px 40px 10px 40px;
  max-width: 1500px;
}

.intro-img {
  box-sizing: border-box;
  margin: auto;
  display: flex;
  justify-content: space-around;
  padding-top: 60px;
}

.intro {
  height: auto;
  display: flex;
  align-items: center;
  width: 700px;
}

.pratham {
  font-size: 50px;
}

#frontend {
  font-size: 54px;
}

/* FOOTER */

.main-btn {
  /*   background: #6985c4; */
  background: #e11d74;
  color: black;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: fixed;
  box-sizing: border-box;
  border: 2px solid #440047;
  bottom: 10px;
  right: 10px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  z-index: 10;
  transition: 1s;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.fa {
  font-size: 36px;
  color: black;
  text-shadow: 0 0 10px white;
}

.sub-btns {
  height: 60px;
  width: 60px;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.sub-btns > div {
  box-sizing: border-box;
  background: #e11d74;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: relative;
  box-sizing: border-box;
  border: 2px solid #440047;
  transition: 1s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn2 {
  bottom: 60px;
}

.btn3 {
  bottom: 120px;
}

.btn4 {
  bottom: 180px;
}

/* Responsive  */

@media (max-width: 792px) {
  .wrapper {
    /* margin: 10px 20px 10px 20px; */
    margin: 0;
  }

  .intro-img {
    flex-direction: column;
    padding-top: 0;
  }

  .intro {
    margin-bottom: 30px;
  }

  .my-img {
    text-align: center;
  }

  .avatar,
  .intro {
    width: 100%;
  }

  .pratham {
    font-size: 32px;
  }

  .intro {
    text-align: center;
  }

  #frontend {
    font-size: 44px;
  }
}
