body {
  /* background: linear-gradient(to right, #3494e6, #ec6ead); */
  background-color: white;
  font-family: "Roboto", sans-serif;
  margin: 0;
  overflow-x: hidden;
}

.resume-website-btn {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 2px;
}

.resume-website-btn > a {
  position: relative;
  color: black;
  text-decoration: none;
}

.contact-wrapper {
  max-width: 500px;
  text-align: center;
  margin: auto;
}

.heading {
  font-size: 3rem;
  letter-spacing: 2px;
  margin-bottom: 0;
}

.my-img {
  width: 200px;
  border-radius: 50%;
  border: 5px solid black;
  margin-top: 60px;
  /* filter: drop-shadow(6px 6px 4px rgb(87, 87, 87)); */
}

.contact-wrapper > a {
  display: inline-block;
  font-family: "Questrial", sans-serif;
  width: 70%;
  padding: 8px 0 8px;
  margin-top: 10px;
  color: black;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 16px;
  font-size: 1.2rem;
  box-shadow: 6px 6px black;
  transition: 0.5s;
}

.contact-wrapper > a:hover {
  background-color: rgba(255, 255, 255, 0.253);
  box-shadow: none;
}

.fa {
  margin-right: 10px;
}
